.box1{
    background-color: black;
    border: 1px solid white;
    height: 100px;
    width: 100px;
}

.box2{
    background-color: black;
    border: 1px solid white;
    height: 100px;
    width: 100px;
}