.box1{
    background-color: black;
    border: 1px solid white;
    height: 100px;
    width: 100px;
    position: relative;
    transition: auto 1s ease-in-out;
}

.box2{
    background-color: black;
    border: 1px solid white;
    height: 100px;
    width: 100px;
    position: relative;
}